*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/stranger-things3pic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    place-items: center center;
}

.title-container {   
    padding: 60px;
    display: flex;
    background-color: black;
    border-style: double solid;
    justify-content: center;
}

.mainTitle {
    font-family: benguiat; 
    font-size: 115px;
    color:rgba(235, 14, 14, 0.801);
    padding:10px;
}

.grid-containerTwo {
    color:yellow;
    width: 500px;
    height: 300px;
    border: double mediumspringgreen;
    display: grid;
    grid-gap: 10px;
    justify-content: space-around;
    place-items: center center;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

#directions-text{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px; 
}



